<!DOCTYPE html>
<html>
	<head>
		<title>Modifica password</title>
	</head>
	<body> 
		<h1><strong>SiwPizzeria</strong></h1>
		<div th:if="${user}">
							<p th:text="${user.nome + ' ' + user.cognome}"></p>
					  		<p><a href="/logout">Logout</a></p>
							<p><a th:href="@{/admin/profile}">Profilo</a></p>
						</div>
		<h1>Modifica la tua password</h1>
		<h2><span th:text="${user.nome + ' ' + user.cognome }"></span></h2>
<!-- Per cambiare la password -->
		<div th:if="${msgError}" th:text="${msgError}"></div>
		<div>	
		<form class="password-card" th:action="@{/admin/profile/changePassword}" method="post">
			               <h2>Cambia Password</h2>
			               <p>
						   <label for="newPassword">Nuova password</label>
			               <input
			                   type="password"
			                   id="newPwd"
			                   name="newPwd"
			                   placeholder="Inserisci la nuova password"
			                   required
			                   minlength="8"
			               />
						   </p>
						   <p>
			               <label for="confirmPassword">Conferma nuova password</label>
			               <input
			                   type="password"
			                   id="confirmPwd"
			                   name="confirmPwd"
			                   placeholder="Conferma la nuova password"
			                   required
			                   minlength="8"
			               />
						   </p>
			               <div class="password-btns">
			                   <a th:href="@{/admin/profile}" class="password-btn cancel">Annulla</a>
			                   <button type="submit" class="password-btn submit">Conferma</button>
			               </div>
			           </form>
					 </div>
					   
	</body>
</html>