<!DOCTYPE html>
<html>
 <head>
	 <title>Edit Pizzeria</title>
 </head>
 <body>	
	<h1><strong>SliceVerse</strong></h1>
	<div th:if="${user}">
				<p th:text="${user.nome + ' ' + user.cognome}"></p>
		  		<p><a href="/logout">Logout</a></p>
				<p><a th:href="@{/admin/profile}">Profilo</a></p>
			</div>
	 <h1>Modifica la Pizzeria</h1>
	 <form th:action="@{/admin/pizzerie/{pId}/editPizzeria(pId=${pizzeria.id})}" method="POST" th:object="${pizzeria}" enctype="multipart/form-data">
		<div>
		 Nome : <span><input type="text" th:field="${pizzeria.nome}"/></span>
		 <span th:if="${#fields.hasErrors('nome')}" th:errors="${pizzeria.nome}"></span>
		 </div>
		 <div>
		 Città: <span><input type="text" th:field="${pizzeria.citta}"/></span>
		 <span th:if="${#fields.hasErrors('citta')}" th:errors="${pizzeria.citta}"></span>
		 </div>
		 Indirizzo: <span><input type="text" th:field="${pizzeria.indirizzo}"/></span>
		 <span th:if="${#fields.hasErrors('indirizzo')}" th:errors="${pizzeria.indirizzo}"></span>
		 </div>		 
		 <div>
		 	            <label for="imageFiles">Immagini</label>
		 	            <input type="file" 
		 	                   name="imageFiles" 
		 	                   id="imageFiles" 
		 	                   multiple 
		 	                   accept="image/*" 
		 	                   required/>
		 </div>
		 <div>
		 <span><button type="submit">Conferma</button></span>
		 </div>
		 
	 </form>
	 <a href="/admin/pizzerie">Torna alla lista di tutte le Pizzerie</a>
	 <p><a href="/admin">Torna alla home</a></p>
 </body>
</html>