<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Errore - SliceVerse</title>
    <link rel="stylesheet" href="/css/stylesError.css">
  </head>
  <body>
      <div class="error-container">
          <h1><strong>Errore</strong></h1>
          <h2>Pagina non trovata o azione non andata a buon fine</h2>
          <div><button class="error-btn" onclick="window.history.back()" aria-label="Torna alla pagina precedente">Torna alla pagina precedente</button></div>  
      </div>
  </body>
</html>