<!DOCTYPE html>
<html>
	 <head>
		 <title>Pizzerie</title>
	 </head>
	 <body>
		<h1><strong>SiwPizzeria</strong></h1>
		<div th:if="${user}">
					<p th:text="${user.nome + ' ' + user.cognome}"></p>
			  		<p><a href="/logout">Logout</a></p>
					<p><a th:href="@{/user/profile}">Profilo</a></p>
				</div>
				<p th:unless="${user}">
					<span><a href="/login">Accedi</a></span>
					<span><a href="/register">Registrati</a></span></p>	
		 <h1>Tutte le Pizzerie Disponibili</h1>
		 <div th:if="${pizzerie.isEmpty()}">Non ci sono pizzerie nel sistema</div>
		 <ul>
		 	<li th:each="p : ${pizzerie}">
		 		<a th:href="@{'/user/pizzerie' + '/' + ${p.id}}"
		 		th:text="${p.nome}">titolo</a>
		 	</li>
		 </ul>
		 <p><a href="/user">Torna alla home</a></p>
	 </body>
</html>
