<!DOCTYPE html>
<html>
	<head>
		<title>Profilo utente</title>
	</head>
	<body> 
		<h1><strong>SiwPizzeria</strong></h1>
		<div th:if="${user}">
					<p th:text="${user.nome + ' ' + user.cognome}"></p>
			  		<p><a href="/logout">Logout</a></p>
					<p><a th:href="@{/user/profile}">Profilo</a></p>
				</div>
		<div th:if="${user}">
			<h1 th:text="${user.nome + ' ' + user.cognome}">Nome e cognome</h1>
			<div>Email : <span th:text="${user.email} ">2000</span></div>
			<div th:if="${!user.recensioni.isEmpty()}">
				<h3>Le tue recensioni :</h3>
					<ul>
						<li th:each="r : ${recensioni}">
							<span th:utext="${r.titolo + '<br/>' + r.voto + '<br/>' + r.testo + '<br/>'}">Recensione</span>
							<p th:if="${r.pizzeria}">
								<span>Relativa alla pizzeria :</span>
								<a th:href="@{'/user/pizzerie' + '/' + ${r.pizzeria.id}}" th:text="${' ' + r.pizzeria.nome}">Pizzeria</a>
							</p>
						</li>
					</ul>
			</div> 
			<div th:if="${user.recensioni.isEmpty()}">
						    <p>Non hai lasciato nessuna recensione.</p>
						</div>
			<div th:if="${!ordini.isEmpty()}">
			   	<span><a th:href="@{/user/ordini}">Visualizza i tuoi ordini</a></span>
			</div>

			<div th:if="${ordini.isEmpty()}">
			    <p>Non hai ancora effettuato ordini.</p>
			</div>
			
			<p><a th:href="@{/user/profile/formChangeProfile}">Modifica informazioni Profilo</a></p>
			<p><a th:href="@{/user/profile/formChangePassword}">Cambia Password</a></p>
			
		</div>
		<p><a href="/user">Vai alla Homepage</a></p>
	</body>
</html>
